[submodule "phpMumbleAdmin-docker"]
	path = phpMumbleAdmin-docker
	url = https://github.com/u6bkep/phpMumbleAdmin-docker.git
[submodule "flaskcvp"]
	path = flaskcvp
	url = https://github.com/u6bkep/flaskcvp.git
[submodule "channel-push"]
	path = channel-push
	url = https://github.com/u6bkep/mumble-channel-push.git
[submodule "link-bot"]
	path = link-bot
	url = git@github.com:u6bkep/link-bot.git
